<nav class="toc py-3">
  <div class="toc-item"><a class="toc-link" routerlink="/" href="#/">Home</a></div>
  <div class="toc-item"><a class="toc-link" routerlink="/getting-started" href="#/getting-started">Getting Started</a>
  </div>
  <div class="toc-item active">
    <a class="toc-link" href="#/components">Admin</a>
    <ul class="nav flex-column">
        <li>
            <a class="toc-link" routerLink="/admin">Principal</a>
          </li>      
      <li>
        <a class="toc-link" routerLink="/admin/usuarios">Usuários</a>
      </li>
      <li>
        <a class="toc-link" routerLink="/admin/configuracoes">Configurações</a>
      </li>
    </ul>
  </div>
</nav>