<nav class="toc py-3">

  <div class="toc-item pb-2">
    <a class="toc-link" routerlink="/" href="#/">Principal</a>
  </div>

  <div class="toc-item pb-2">
    <a class="toc-link" routerLink="/admin">Administração</a>

    <ul class="nav flex-column">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="toc-link" routerLink="/admin/">Principal</a>
      </li>

      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="toc-link" routerLink="/admin/usuarios">Usuários</a>
      </li>

      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="toc-link" routerLink="/admin/configuracoes">Configurações</a>
      </li>
    </ul>
  </div>

  <div class="toc-item pb-2">
    <a class="toc-link" routerlink="/getting-started" href="#/getting-started">Configurações</a>

    <ul class="nav flex-column">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="toc-link" routerLink="/login">Logout</a>
      </li>
    </ul>

  </div>

</nav>