.toc {
    margin-left: -15px;
    margin-right: -15px;
  }
  .toc .toc-item .toc-link {
    display: block;
    padding: 0.25rem 1.5rem;
    color: rgba(0, 0, 0, 0.65);
  }
  .toc .toc-item .nav > li > a {
    margin-left: 0.3rem;
    font-size: 90%;
  }
  .toc .toc-item .nav > li > a:focus,
  .toc .toc-item .nav > li > a:hover {
    text-decoration: none;
    color: #0275d8;
  }
  .toc .toc-item .nav > li.active > a {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
  }
  .toc .toc-item.active {
    margin-top: 2rem;
  }
  .toc .toc-item.active > .toc-link {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.85);
  }