<header class="navbar navbar-expand navbar-dark px-4 flex-column flex-md-row">

  <a aria-label="NG Bootstrap" class="navbar-brand mr-2 mr-md-0" routerlink="/" href="#/">
    <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="align-middle" height="36" viewBox="0 0 512 512" width="36"
      xmlns="http://www.w3.org/2000/svg">
      <defs>
        <linearGradient id="a">
          <stop offset="0" stop-color="#0143a3"></stop>
          <stop offset="1" stop-color="#0273d4"></stop>
        </linearGradient>
        <linearGradient xlink:href="#a" gradientTransform="matrix(1.33396 0 0 1.33396 404.049 -265.9)"
          gradientUnits="userSpaceOnUse" id="b" x1="-111" x2="-110.5" y1="967.862" y2="617.362"></linearGradient>
      </defs>

      <path d="M255.71 558.533l207.07 81.226-20.02 272.853-185.907 113.26-187.05-114.404L50.356 640.33z" fill="url(#b)"
        fill-rule="evenodd" stroke="#fff" stroke-width="20" transform="translate(0 -540.362)"></path>

      <path d="M255.142 18.01l1.716 467.404 185.675-113.635 19.725-272.724z" fill-opacity=".098" fill-rule="evenodd">
      </path>

      <path
        d="M220.151 247.738v77.444h45.872q23.078 0 34.12-9.485 11.186-9.628 11.186-29.308 0-19.82-11.185-29.165-11.043-9.486-34.12-9.486H220.15zm0-86.93v63.71h42.333q20.953 0 31.147-7.786 10.336-7.929 10.336-24.069 0-15.998-10.336-23.927-10.194-7.928-31.147-7.928H220.15zm-28.6-23.503h73.056q32.705 0 50.403 13.592 17.697 13.592 17.697 38.651 0 19.397-9.06 30.865-9.062 11.468-26.618 14.3 21.096 4.53 32.705 18.971 11.751 14.3 11.751 35.82 0 28.316-19.255 43.749-19.254 15.432-54.791 15.432h-75.887v-211.38z"
        fill="#fff"></path>

    </svg>
    <span class="ml-2 d-xl-none d-lg-none d-md-none d-inline">ng-bootstrap</span>
  </a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav flex-row">
      <li class="nav-item"><a class="nav-link" href="#/getting-started">Getting Started</a></li>
      <li class="nav-item active"><a class="nav-link" href="#/components">Components</a></li>
    </ul>
  </div>

  <ul class="social-buttons navbar-nav flex-row ml-md-auto d-none d-lg-flex align-items-center">
    <span></span>
    <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true"
      class="twitter-hashtag-button twitter-hashtag-button-rendered twitter-tweet-button"
      style="position: static; visibility: visible; width: 155px; height: 29px;" title="Twitter Tweet Button"
      src="https://platform.twitter.com/widgets/tweet_button.2e9f365dae390394eb8d923cba8c5b11.en.html#button_hashtag=ngbootstrap&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=https%3A%2F%2Fng-bootstrap.github.io%2F%23%2Fhome&amp;size=l&amp;text=I%27m%20checking%20out%20ng-bootstrap%2C%20THE%20Angular%20UI%20framework%20for%20Bootstrap%20CSS&amp;time=1556307398183&amp;type=hashtag&amp;url=https%3A%2F%2Fng-bootstrap.github.io"
      data-hashtag="ngbootstrap"></iframe>
  </ul>

  <button aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"
    class="navbar-toggler navbar-toggler-right" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>