<div class="container-fluid min-vh-100 p-0"
  style="background: linear-gradient(135deg, #0143a3, #0273d4);;font-family: 'Lato'">
  <div class="wrap">

    <div class="avatar">
      <img
        src="https://scontent.fcpq2-1.fna.fbcdn.net/v/t1.0-1/c41.0.195.195a/s60x60/1237182_455562181218307_758771015_n.jpg?_nc_cat=103&_nc_oc=AQnVHSlyhyFJPoxA2ahUXHEOtZdVkJMcnw_8x_zQELUscXjExv5UKZqFO4cyn5iQTm0&_nc_ht=scontent.fcpq2-1.fna&oh=c198eee4680465c76002a371dd066ebc&oe=5D34EE00">
    </div>

    <input type="text" placeholder="Email" required style="border-bottom: 1px solid #d1d1d1">

    <input type="password" placeholder="Senha" required>

    <a href="" class="forgot_link">Esqueceu?</a>

    <button routerLink="/admin">Login</button>
  </div>
</div>