<div class="container-fluid min-vh-100 p-0"
  style="background: linear-gradient(135deg, #0143a3, #0273d4);;font-family: 'Lato'">
  <div class="wrap">

    <div class="avatar">
      <img
        src="/assets/images/cadeado.png">
    </div>

    <input type="text" placeholder="Email" required style="border-bottom: 1px solid #d1d1d1">

    <input type="password" placeholder="Senha" required>

    <a href="" class="forgot_link">Esqueceu?</a>

    <button routerLink="/admin">Login</button>
  </div>
</div>