<app-header></app-header>

<div class="container-fluid">

    <div class="row flex-xl-nowrap">

        <div class="col-12 col-lg-2" style="border-right: 1px solid rgba(0, 0, 0, 0.1)">
            <app-menu-lateral-esquerdo></app-menu-lateral-esquerdo>
        </div>

        <div class="col-12 col-lg-10 p-0">
            <header class="bg-light pt-4 pb-md-1 px-lg-4"
            style="border-bottom: 1px solid rgba(0, 0, 0, 0.1)">
                <h1 class="mb-1 mr-auto mr-md-none">
                    <ng-content select="[design-title]"></ng-content>
                </h1>
            </header>
            <section class="pt-4 pb-md-1 px-lg-4">
                <ng-content select="[design-body]"></ng-content>
            </section>
        </div>

    </div>

</div>

<app-footer></app-footer>